// Body
$body-bg: #f6f6f6;
$input-bg: #fff;
$input-border-color: #c9c9c9;

$primary: #00a0e5;
$dark: #265b8b;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 870px,
  xl: 870px,
  xxl: 870px
);

